[data-show="on"]{
  display:block;
}
[data-show="off"]{
  display:none;
}
#textarea{
  position:absolute;
  overflow:hidden;
  resize: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}
#textarea-hidden{
  display:inline;
  visibility:hidden;
  white-space: nowrap;
}